<div class="container my-40">
    <div class="row d-flex justify-content-center align-items-md-center">
        <div class="col-md-6 col-12">
            <img class="img-fluid border-radius-15 my-4" src="assets/images/bab_madrassa.png" alt="image 1">
            <!-- <img class="img-fluid border-radius-15 m-4" src="assets/images/jmal_ragd.png" alt="image 2"> -->
        </div>
        <div class="col-md-6 col-12">
            <h2 class="text-primary">About Us</h2>
            <h4 class="fs-1">Discover Our Story</h4>
            <p>"Wanderlust Adventures," a passionate travel agency, crafts
                bespoke journeys, revealing hidden gems worldwide. With warm
                hospitality and sustainable practices, they inspire wanderers, making dreams soar beyond
                imagination.
            </p>
            <button type="button" class="btn btn-primary">Explore Now</button>
        </div>
    </div>
</div>