<section class="blog my-40">
    <div class="container">
        <div class="text-center mb-5">
            <p class="text-primary fw-bold py-2">Journey Journal</p>
            <h4>Our Blog and Articles</h4>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mb-4">
                <div class="cards">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="img-container" style="width: 100%">
                                <img src="https://cdn.pixabay.com/photo/2019/03/17/09/51/morocco-4060601_1280.jpg"
                                    class="card-img-top" alt="Fissure in Sandstone" height="240px" width="240px" style="
                                border-radius: 25px;
                                border-end-end-radius: 0px;
                                border-end-start-radius: 0px;
                                object-fit: cover;
                              " />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card-body" style="margin: 0% 2%">
                                <h3 class="text-primary">Marrakech</h3>
                                <h5 class="card-title">
                                    Tales of the Kasbahs: Exploring Morocco's Ancient Fortresses
                                </h5>
                                <p class="card-text">
                                    Vibrant city of history, culture, and cuisine. Explore
                                    palaces, souks, and mosques.
                                </p>
                                <a href="#!" class="btn btn-primary">Read more &rarr;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="cards">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="img-container" style="width: 100%">
                                <img src="https://cdn.pixabay.com/photo/2019/03/17/09/51/morocco-4060601_1280.jpg"
                                    class="card-img-top" alt="Fissure in Sandstone" height="240px" width="240px" style="
                                border-radius: 25px;
                                border-end-end-radius: 0px;
                                border-end-start-radius: 0px;
                                object-fit: cover;
                              " />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card-body" style="margin: 0% 2%">
                                <h3 class="text-primary">Marrakech</h3>
                                <h5 class="card-title">
                                    Tales of the Kasbahs: Exploring Morocco's Ancient Fortresses
                                </h5>
                                <p class="card-text">
                                    Vibrant city of history, culture, and cuisine. Explore
                                    palaces, souks, and mosques.
                                </p>
                                <a href="#!" class="btn btn-primary">Read more &rarr;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="cards">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="img-container" style="width: 100%">
                                <img src="https://cdn.pixabay.com/photo/2019/03/17/09/51/morocco-4060601_1280.jpg"
                                    class="card-img-top" alt="Fissure in Sandstone" height="240px" width="240px" style="
                                border-radius: 25px;
                                border-end-end-radius: 0px;
                                border-end-start-radius: 0px;
                                object-fit: cover;
                              " />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card-body" style="margin: 0% 2%">
                                <h3 class="text-primary">Marrakech</h3>
                                <h5 class="card-title">
                                    Tales of the Kasbahs: Exploring Morocco's Ancient Fortresses
                                </h5>
                                <p class="card-text">
                                    Vibrant city of history, culture, and cuisine. Explore
                                    palaces, souks, and mosques.
                                </p>
                                <a href="#!" class="btn btn-primary">Read more &rarr;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-4">
                <div class="cards">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="img-container" style="width: 100%">
                                <img src="https://cdn.pixabay.com/photo/2019/03/17/09/51/morocco-4060601_1280.jpg"
                                    class="card-img-top" alt="Fissure in Sandstone" height="240px" width="240px" style="
                                border-radius: 25px;
                                border-end-end-radius: 0px;
                                border-end-start-radius: 0px;
                                object-fit: cover;
                              " />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="card-body" style="margin: 0% 2%">
                                <h3 class="text-primary">Marrakech</h3>
                                <h5 class="card-title">
                                    Tales of the Kasbahs: Exploring Morocco's Ancient Fortresses
                                </h5>
                                <p class="card-text">
                                    Vibrant city of history, culture, and cuisine. Explore
                                    palaces, souks, and mosques.
                                </p>
                                <a href="#!" class="btn btn-primary">Read more &rarr;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3">
                <button type="button" class="btn btn-primary border-radius-8 ">View All Post <img class="ms-2 btn-icon"src="assets/svg/vector-light.svg" alt=""></button>
            </div>
        </div>
    </div>
</section>