<section class="blog my-40">
    <div class="container">
        <div class="text-center mb-5">
            <p class="text-primary fw-bold py-2">Journey Journal</p>
            <h4>Our Blog and Articles</h4>
        </div>
        <div class="row" id="blogContainer">
            
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3">
                <button type="button" class="btn btn-primary border-radius-8 ">View All Post <img class="ms-2 btn-icon"src="./assets/svg/vector-light.svg" alt=""></button>
            </div>
        </div>
    </div>
</section>