<section class="bg-primary-020 py-40">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center mb-5">
                <p class="text-primary fw-bold py-2">Must-Visit Destinations</p>
                <h4 class="">Exploring the Most Popular Gems Around the Morocco</h4>
            </div>
        </div>
        <div class="row cards-wrapper">
            <div class="col-md-4 col-sm-12 d-flex align-items-stretch">
                <div class="card elemetCard">
                    <div class="image-wrapper">
                        <img src="../assets/images/chefchaoun.jpg" alt="...">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex mb-3">
                            <img src="../assets/svg/map.svg" alt="">
                            <h6 class="mb-0 ms-2">Chefchaouen</h6>
                        </div>
                        <h5 class="card-title">1 Day Tour - Chefchaouen</h5>
                        <h2 class="text-primary">1299.00 MAD</h2>
                        <p class="card-text">
                            Explore Chefchaouen's blue charm, markets, and stunning vistas.
                        </p>
                        <button class="btn btn-primary mt-auto align-self-start">Discover</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 d-flex align-items-stretch">
                <div class="card elemetCard">
                    <div class="image-wrapper">
                        <img src="../assets/images/agafay.jpg" alt="...">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex mb-3">
                            <img src="../assets/svg/map.svg" alt="">
                            <h6 class="mb-0 ms-2">Agafay Valley</h6>
                        </div>
                        <h5 class="card-title">2 Days Tour - Agafay Valley</h5>
                        <h2 class="text-primary">3599.00 MAD</h2>
                        <p class="card-text">
                            Embark on a 2-day Agafay Valley tour, immerse in desert beauty, embrace Berber culture,
                            find tranquil serenity.
                        </p>
                        <button class="btn btn-primary mt-auto align-self-start">Discover</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 d-flex align-items-stretch">
                <div class="card elemetCard">
                    <div class="image-wrapper">
                        <img src="../assets/images/kech.jpg" alt="...">
                    </div>
                    <div class="card-body d-flex flex-column">
                        <div class="d-flex mb-3">
                            <img src="../assets/svg/map.svg" alt="">
                            <h6 class="mb-0 ms-2">Marrakech</h6>
                        </div>
                        <h5 class="card-title">2 Days Tour - Marrakech</h5>
                        <h2 class="text-primary">4999.00 MAD</h2>
                        <p class="card-text">
                            Experience the magic of Marrakech on a captivating 2-day tour. Delight in vibrant
                            markets, historic landmarks, and cultural richness.
                        </p>
                        <button class="btn btn-primary mt-auto align-self-start">Discover</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>