<section class="hero d-flex">
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-10 col-sm-12 text-center">
                <h1 class="text-light">Discover the Wonders of Morocco Through Travel</h1>
                <p class="text-light px-5">Embark on an unforgettable journey to Morocco, a land of enchanting
                    markets, breathtaking landscapes, and rich cultural heritage.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="searchwrapper mt-3">
                    <div class="searchbox">
                        <div class="row d-flex justify-content-center align-items-center">

                            <div class="col-md-6 col-sm-12 p-1"><input type="text" class="form-control"
                                    placeholder="Search by Keywords..."></div>
                            <div class="col-md-6 col-sm-12 p-1"><input type="text" class="form-control"
                                    placeholder="Location">
                            </div>
                            <div class="col-md-6 col-sm-12 p-1">
                                <select class="form-control category">
                                    <option>Category</option>
                                    <option>Any</option>
                                    <option>Adventure</option>
                                    <option>Luxury</option>
                                    <option>Special offres</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-sm-12 p-1">
                                <select class="form-control category">
                                    <option>People</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                            <div class="col-sm-12 pt-3 d-flex justify-content-end"><button type="button"
                                    class="btn btn-primary border-radius-15">Explore Now</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="steps my-40">
    <div class="container">
        <div class="row justify-content-center my-5 mx-1 steps-box">
            <div class="col-md-4 col-sm-12 text-center">
                <img width="60px" src="assets/images/6c5e1c5d2ca59aa6f7e85281131fd020.png" alt="">
                <h2 class="text-primary">Plan your perfect trip</h2>
                <p class="text-dark">Craft an unforgettable journey with meticulous detail. Tailor your dream itinerary
                    for a memorable adventure.</p>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <img width="60px" src="assets/images/646f06056f10c603545c9bd8e27e5679.png" alt="">
                <h2 class="text-primary">Get your tickets</h2>
                <p class="text-dark">Secure your passage to exploration. Booking tickets unlocks the gateway to a world
                    of possibilities.</p>
            </div>
            <div class="col-md-4 col-sm-12 text-center">
                <img width="60px" src="assets/images/b112102528fd783deaa40ea22e51e357.png" alt="">
                <h2 class="text-primary">Travel around country</h2>
                <p class="text-dark">Embrace the freedom of discovery. Traverse diverse landscapes and cultures on a
                    memorable country</p>
            </div>
        </div>
    </div>
</section>